<section class="mat-typography">
	<h1>Изменение размера таблицы</h1>
	<div mat-dialog-content>
		<p>Введите новый размер таблицы:</p>
		<form [formGroup]="dimensionsForm">
			<mat-form-field>
				<input matInput type="number" min="0" max="20" formControlName="cols" placeholder="Кол-во столбцов" required>
			</mat-form-field>
			<br>
			<mat-form-field>
				<input matInput type="number" min="0" max="20" formControlName="rows" placeholder="Кол-во строк" required>
			</mat-form-field>
		</form>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button (click)="onCancel()">Отмена</button>
		<button mat-raised-button color="primary" (click)="onReshape()">OK</button>
	</div>
</section>