<section class="mat-typography">
	<h1>Изменение размера таблицы</h1>
	<div mat-dialog-content>
		<p>Введите новый размер таблицы:</p>
		<div [formGroup]="dimensionsForm">
			<mat-form-field>
				<input matInput formControlName="cols" placeholder="Кол-во столбцов">
			</mat-form-field>
			<br>
			<mat-form-field>
				<input matInput formControlName="rows" placeholder="Кол-во строк">
			</mat-form-field>
		</div>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button (click)="onCancel()">Отмена</button>
		<button mat-raised-button color="primary" (click)="onReshape()">OK</button>
	</div>
</section>